@media print {
    @page {
        size: auto;
        /* auto is the initial value */
        margin: 10px;
        /* this affects the margin in the printer settings */
    }

    .top-container {
        display: none;
    }

    #add_row {
        display: none;
    }

    textarea {
        border: none;
    }

    .btnDelete {
        display: none;
    }

    #deletebuttontd {
        display: none;
    }

    #termsAndConditionCheckboxarea {
        display: none;
    }

    select {
        border: none;
    }
}